includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    ignoreErrors:
#        - '#Call to method setInterface\(\) on an unknown class Firehed\\Common\\this#'
        - '#^Dynamic call to static method PHPUnit\\Framework\\Assert::assert#'
